body {
    background-color: #f5f5f5;
}
pre, h3, h2{
  text-align: center;
}

i.informacionAuxiliar{
	font-size:9px !important; 
}
i.ejemplo{
	color: #32a028 !important; /*verde oscuro*/
	font-size:13px !important;
}
b.ejemploPlantilla{
	color:red !important;
}

b.palabraAceptada{
	color:green !important;
}

b.palabraRechazada{
	color:red !important;
}


/*
@netzulo template
*/
span:after {
	content: attr('data-separator')
}

#main-header {

}
#main-content {

}

#main-content #pg-generator {

}

#main-content #pg-definition {

}

#main-content #pg-examples {

}

#main-footer {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	width: 105%;
	background-color: black;
	color: white;
	height: 3.3%
}


/* 
Examples GUI settings
*/

#automaton-not-deterministic-code, #automaton-deterministic-code, #automaton-non-deterministic-simple-code{
	text-align: left;
}


/*
modal-notification
*/
#modal-notification {}
#modal-notification-title {}
#modal-notification-title-long {}
